@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: "Poppins", sans-serif;
  }
  
  .center {
    text-align: center;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .grid-header {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  .menu-item span {
    flex: 1;
    text-align: center;
    font-weight: 500;
  }
  

  /*trigger rebuild 6*/